modules = ["nodejs-20", "python-3.11", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Simulation"

[[workflows.workflow]]
name = "Start Simulation"
author = 36691541
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
